/* @import url('https://fonts.google.com/specimen/Poppins'); */

.App {
  text-align: center;
  /* font-family: Poppins; */
}


.search-area {
  display: flex;
  margin-top: 30px;
  padding: 20px;
  width: 50vw;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.title-search {
  text-align: left;
  line-height: 5px;
  margin-right: auto;
}

.input-area {
  border-radius: 3px;
  border: none;
  background-color: #f0f0f0;
  width: 25vw;
  height: 20px;
  padding: 10px;
  font-size: 17px;
  text-align: center;
}

.day-options-wrap {
  /* background-color: tomato; */
}

.day-options {
  justify-content: center;
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.chance-of-rain {
  margin-right: auto;
}

.select-button {
  margin-right: 10px;
  width: 16vh;
  height: 6vh;
  background-color: #5b6f8b;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 25px;
}

.selected-day {
  background-color: #203756;
}

.content {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
  gap: 20px;
}

.weather-lists-wrap {
  /* margin-left: 50px; */
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  /* width: 50%; */
}

.weather-lists {
  width: 62.5vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 5px;
  margin-top: 20px;
  /* margin-left: auto; */
  /* margin-right: auto; */
  border-radius: 10px;
  /* background-color:#f0f0f0; */
  background: radial-gradient(circle farthest-side,#dadada,#eeeeee);
}

.condition-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 5px;
  gap: 10px;
}

.condition-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50vh;
  padding: 10px 30px;
  /* height: 20vh; */
  gap: 30px;
  background-color: white;
  border-radius: 5px;
}

.details-wrapper {
  text-align: left;
}

.weather-icon {
  /* display: flex; */
  width: 10vh;
  /* margin-right: auto; */
}

/* right side */
.other-info {
  /* margin-top: 30px; */
  width: 22.5vw;
  /* height: 94vh; */
  padding: 3vh 20px;
  border-radius: 10px;
  /* background-color:#203756; */
  /* background: radial-gradient(circle, #ff7e5f, #203756); */
  /* background: linear-gradient(to right, #f0f0f0, #203756); */
  background: radial-gradient(circle farthest-corner at center, #203780, #203756);
  color: white;
  text-align: left;
}

.other-info-title {
  display: flex;
}

.location-title{
  /* background-color: white; */
  line-height: 5px;
  margin-right: auto;
}

.current-weather {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.current-weather-image {
  width: 40px;
  margin-right: auto;
}

.overview-list {
  display: flex;
  font-size: 14px;
  background-color: #5b6f8b;
  margin-top: 15px;
  padding: 0 20px;
  border-radius: 5px;
}

.overview-list-title {
  margin-right: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (max-width: 430px) {
  .content {
    flex-direction: column;
    width: 100vw;
  }
  
  .search-area {
    margin-top: 0;
    flex-direction: column;
    width: 80vw;
    padding: 10vw;
    /* margin-bottom: 0; */
  }

  .input-area {
    margin-top: 20px;
  }

  .horizontal-rule {
    width: 90vw;
  }

  .day-options-wrap {
    width: 80vw;
    flex-direction: column;
    text-align: left;
    padding: 0 10vw;
  }
  
  .chance-of-rain {
    font-size: 4vw;
  }
  
  .day-options {
    justify-content: space-between;
    margin-top: 0;
  }

  .select-button {
    text-align: center;
    height: 5vh;
    width: 25vw;
    padding: 5px;
    font-size: 3.5vw;
    margin-right: 0;
  }

  .weather-lists {
    width: 80vw;
    padding: 10vw 5vw;
    text-align: center;
    margin: 20px auto;
  }

  .condition-details {
    /* background-color: tomato; */
  }

  .other-info {
    width: 80vw;
    height: auto;
    margin: 0 auto 20px auto;
  }

}